NODE_ENV=development
PORT=4000
CLIENT_ORIGIN=http://localhost:4000

DB_URL=postgresql://postgres:postgres@localhost:5432/vijis_magic_oven
JWT_SECRET=replace-with-a-long-random-secret
JWT_EXPIRES_IN=12h

CLOUDINARY_CLOUD_NAME=Root
CLOUDINARY_API_KEY=495449189469141
CLOUDINARY_API_SECRET=HIISTO38ITZogCdsZpDl9ppJNx0

OWNER_NAME=Viji
OWNER_EMAIL=owner@example.com
OWNER_PASSWORD=ChangeThis123!
